! templates/eos.j2
#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% set vlanid = vlan.vlanid %}
{% set state = vlan.state | default('present') %}
{% set status = vlan.status | default('active') %}
{% set vname = vlan.name | default('') %}

{% if state == 'present' %}
  vlan {{ vlanid }}
  state {{ status }}
  name {{ vname }}
{% else %}
  no vlan {{ vlanid }}
{% endif %}
