- name: Restart firewall
  hosts: panos
  connection: local
  gather_facts: False

  roles:
    - role: PaloAltoNetworks.paloaltonetworks

  tasks:
  - name: Restart panos device
    panos_restart:
      ip_address: "{{ ip_address }}"
      username: "{{ username }}"
      password: "{{ password }}"
